page-confirmation {
    .container{
        background-color: whitesmoke;
        font-size: 17px !important;
        #btnBookNow {
            width: 80%;
            margin: 16px auto !important;
            background-color: #E25C48;
            border-radius: 100px;
        }
        .seat-type-table {
            .table-icons{
                background-color: #C0D2E7;
                height:30px;

            }
            .seat-label {
                background-color: whitesmoke;
                text-indent: 5px;
            }
            .table-content{
                background-color: #CEE1F4;
            }
            .seat-no{
                font-size: 25px
            }
        }
        .no-border-bottom {
            .item-inner{
                border-bottom: 0px !important;
            }
        }
        .border-right{
            border-right: 1px solid gray;
        }

        .icon {
            color: #3A6992;
        }

        #green-check {
            color: #69CA5E;
        }
    }
    #countdown {
        color: red;
    }
}
