<!--
  Generated template for the ReservationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class='configureNavBar'>Reservation</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class='container' margin-top>
  <ion-item>
    <ion-icon item-start name='calendar'></ion-icon>
    <ion-label>Date</ion-label>
    <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="Booking.date"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-icon item-start name='bus'></ion-icon>
    <ion-label>Route</ion-label>
    <ion-select interface="action-sheet" (ionChange)="onRouteChange(Booking.routeName)" [(ngModel)]="Booking.routeName">
      <ion-option *ngFor = 'let route of Routes'>{{route.name}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-icon item-start name='pin'></ion-icon>
    <ion-label>Pickup Stop</ion-label>
    <!-- <ion-select *ngFor = 'let route of Routes' interface="action-sheet"> -->
    <ion-select interface="action-sheet" (ionChange)="onPickupChange(Booking.pickup)" [(ngModel)]="Booking.pickup">
        <ion-option *ngFor = 'let station of selectedRoutePickupStations'>{{ station.name }}</ion-option>
    </ion-select>
    <!-- <ion-select interface="action-sheet">
      <ion-option *ngFor = 'let route of Routes'>{{ route.stations.station }}</ion-option>
    </ion-select> -->
  </ion-item>

  <ion-item>
    <ion-icon item-start name='navigate'></ion-icon>
    <ion-label>Dropoff Stop</ion-label>
    <ion-select interface="action-sheet" [(ngModel)]="Booking.dropoff">
        <ion-option *ngFor = 'let station of selectedRouteDropoffStations'>{{ station.name }}</ion-option>
    </ion-select>
  </ion-item>
  
  <ion-item class="no-border-bottom" margin-bottom>
    <ion-icon item-start name='time'></ion-icon>
    <ion-label>Shuttle Time</ion-label>
    <!-- <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="Booking.time"></ion-datetime> -->
    <ion-datetime displayFormat="hh:mm" hourValues={{Hours}} minuteValues={{Minute}} [(ngModel)]="Booking.alertTime"></ion-datetime>
  </ion-item>

  <ion-item class="no-border-bottom" margin-bottom>
    <ion-icon item-start name='heart'></ion-icon>
    <ion-label>Wheelchair Seats</ion-label>
    <ion-checkbox item-end color="default" checked="false" [(ngModel)]="Booking.wheelchairBool"></ion-checkbox>
  </ion-item>

  <ion-item class="no-border-bottom">
    <ion-icon item-start name='heart'></ion-icon>
    <ion-label>Carer</ion-label>
    <ion-checkbox item-end color="default" checked="false" [(ngModel)]="Booking.carerBool"></ion-checkbox>
  </ion-item>

  <ion-label class='custom-label'>Remaining Seat Capacity:</ion-label>

  <ion-grid class="seat-type-table">
    <ion-row class="table-icons">
      <ion-col col-6 item-start class="border-right custom-col"><ion-icon name="heart"></ion-icon></ion-col>
      <ion-col col-6 item-start class='custom-col'><ion-icon name="heart"></ion-icon></ion-col>
    </ion-row>
  </ion-grid>

  <button id='btnBookNow' ion-button block (click)='goToConfirmPage(Booking)'>Book Now</button>
</ion-content>
