.custom-label {
    margin: 15px !important;
}

.custom-icon {
    height: 23px;
    width: 23px;
}

page-reservation {
    .container{
        background-color: whitesmoke;
        font-size: 17px !important;
        #btnBookNow {
            width: 80%;
            margin: 16px auto !important;
            margin-bottom: 30px;
            background-color: #E25C48;
            border-radius: 100px;
        }
        .seat-type-table {
            .table-icons{
                background-color: #C0D2E7;
                height:50px;
                .custom-col{
                    padding-left: 20px;
                    .av-count{
                        color:red;
                        font-size: 40px;
                        line-height: 40px;
                        margin-left: 20px;
                    }
                    .seat-label {
                        margin-left: 8px;
                        font-size: 12px;
                    }
                }   
            }
        }
        .no-border-bottom {
            .item-inner{
                border-bottom: 0px !important;
            }
        }
        .border-right{
            border-right: 1px solid gray;
        }

        .icon {
            color: #3A6992;
        }

        // .custom-col {
        //     padding: 5px 30px;
        // }
    }
    .wc-icon{
        height: 32px;
        width: 32px;
    }
}
